.imageheader {
	margin-top: 10px;
	margin-left: 30px;
	margin-bottom: 10px;
}
/*
Fade content bs-carousel with hero headers
Code snippet by maridlcrmn (Follow me on Twitter @maridlcrmn) for Bootsnipp.com
Image credits: unsplash.com
*/

/********************************/
/*       Fade Bs-carousel       */
/********************************/
.fade-carousel {
	position: relative;
	height: 50vh;
}

.fade-carousel .carousel-inner .item {
	height: 50vh;
}

.fade-carousel .carousel-indicators>li {
	margin: 0 2px;
	background-color: #ffffff;
	border-color: #6dd0f9;
	opacity: .7;
}

.fade-carousel .carousel-indicators>li.active {
	width: 15px;
	height: 15px;
	opacity: 1;
}

/********************************/
/*          Hero Headers        */
/********************************/
.hero {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 3;
	color: white;
	text-align: center;
	text-transform: uppercase;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, .75);
	-webkit-transform: translate3d(-50%, -50%, 0);
	-moz-transform: translate3d(-50%, -50%, 0);
	-ms-transform: translate3d(-50%, -50%, 0);
	-o-transform: translate3d(-50%, -50%, 0);
	transform: translate3d(-50%, -50%, 0);
}

.hero h1 {
	font-size: 6em;
	font-weight: bold;
	margin: 0;
	padding: 0;
}

.fade-carousel .carousel-inner .item .hero {
	opacity: 0;
	-webkit-transition: 2s all ease-in-out .1s;
	-moz-transition: 2s all ease-in-out .1s;
	-ms-transition: 2s all ease-in-out .1s;
	-o-transition: 2s all ease-in-out .1s;
	transition: 2s all ease-in-out .1s;
}

.fade-carousel .carousel-inner .item.active .hero {
	opacity: 1;
	-webkit-transition: 2s all ease-in-out .1s;
	-moz-transition: 2s all ease-in-out .1s;
	-ms-transition: 2s all ease-in-out .1s;
	-o-transition: 2s all ease-in-out .1s;
	transition: 2s all ease-in-out .1s;
}

/********************************/
/*            Overlay           */
/********************************/
.overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 3;
	background-color: #080d15;
	opacity: .1;
}

/********************************/
/*          Custom Buttons      */
/********************************/
.btn.btn-lg {
	padding: 10px 40px;
}

.btn.btn-hero, .btn.btn-hero:hover, .btn.btn-hero:focus {
	color: #f5f5f5;
	background-color: #1abc9c;
	border-color: #1abc9c;
	outline: none;
	margin: 20px auto;
}

/********************************/
/*       Slides backgrounds     */
/********************************/
.fade-carousel .slides .slide-1, .fade-carousel .slides .slide-2,
	.fade-carousel .slides .slide-3 {
	height: 100vh;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

.fade-carousel .slides .slide-1 {
	background-image:
		url();
}

.fade-carousel .slides .slide-2 {
	background-image:
		url(http://app-hb.cloudapp.net:81/portfolio/images/54d5b98b588629400ea31a82/Arial.jpg);
}

.fade-carousel .slides .slide-3 {
	background-image:
		url(https://ununsplash.imgix.net/photo-1416339276121-ba1dfa199912?q=75&fm=jpg&s=9bf9f2ef5be5cb5eee5255e7765cb327);
}

/********************************/
/*          Media Queries       */
/********************************/
@media screen and (min-width: 980px) {
	.hero {
		width: 980px;
	}
}

@media screen and (max-width: 640px) {
	.hero h1 {
		font-size: 4em;
	}
}

.nav.nav-justified>li>a {
	position: relative;
}

.nav.nav-justified>li>a:hover, .nav.nav-justified>li>a:focus {
	background-color: transparent;
}

.nav.nav-justified>li>a>.quote {
	position: absolute;
	left: 0px;
	top: 0;
	opacity: 0;
	width: 30px;
	height: 30px;
	padding: 5px;
	background-color: #5bc0de;
	border-radius: 15px;
	color: #fff;
}

.nav.nav-justified>li.active>a>.quote {
	opacity: 1;
}

.nav.nav-justified>li>a>img {
	box-shadow: 0 0 0 5px #1DAAE0;
}

.nav.nav-justified>li>a>img {
	max-width: 100%;
	opacity: .3;
	-webkit-transform: scale(.8, .8);
	transform: scale(.8, .8);
	-webkit-transition: all 0.3s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	transition: all 0.3s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.nav.nav-justified>li.active>a>img, .nav.nav-justified>li:hover>a>img,
	.nav.nav-justified>li:focus>a>img {
	opacity: 1;
	-webkit-transform: none;
	transform: none;
	-webkit-transition: all 0.3s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	transition: all 0.3s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.tab-pane .tab-inner {
	padding: 30px 0 20px;
}

h1.donor {
	font-size: 24px;
}

h2.donor {
	font-size: 20px;
}

h3.donor {
	font-size: 18px;
}
p.donor{
	font-size: 16px;
	font-weight: 900;
}
h1.info {
	font-size: 28px;
}

@media ( min-width : 1200px) {
	.nav.nav-justified>li>a>.quote {
		left: auto;
		top: auto;
		bottom: 0px;
	}
}

